.area{
    /* Area */

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;

    position: static;
    width: 1137px;
    height: 122px;
    left: 58px;
    top: 5px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
    text-align: center;
    text-justify: auto;
}.area#action{
    /* Action */
    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;

    position: static;
    width: 1124px;
    height: 73px;
    left: 64.5px;
    top: 137px;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}
.component#pattern{
    /* Button */

    position: static;
    width: 200px;
    height: 25px;
    left: 821px;
    top: 48.5px;
    justify-content: center;
    align-items: center;
    text-align: center;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 35px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}.action#pattern{
    /* Action */
    position: static;
    width: 150px;
    height: 53px;
    left: 362px;
    top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;

    background: #C4C4C4;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 50px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}