div.fact{
    /* Fact */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 10px;
    position: relative;
    width: 287px;
    height: 253px;
    background: #FFFFFF;
}
div.image{
    /* Image */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 267px;
    height: 99px;
    border: 1px solid #000000;
    border-radius: 5px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
div.conditionArea{
    /* Condition Area */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 4px;
    gap: 30px;
    width: 369px;
    height: 10px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    justify-content: flex-start;
}
dev.condition{
    /* Condition */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 110px;
    height: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    /* width: 96px;
    height: 16px; */
    font-family: 'Halant';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}